<!DOCTYPE html>
<html>

<head>
<title>My Title</title>
</head>

<body>



</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/paper/dist/paper-node.js"></script>

<script>
  var server = io.connect('http://192.168.0.100:8080');

  server.on('frame', function(what){
  	var bufView = new Uint8Array(what);
  	var R = bufView[0];
  	var G = bufView[1];
  	var B = bufView[2];

    document.body.style.backgroundColor= 'rgb(' + R + ',' + G + ',' + B + ')';
  	console.log(bufView);
  });

  function f(){
  	server.emit("sendFrame", "");
  }

</script>

</html>