<!DOCTYPE html>
<html>

<head>
<title>My Title</title>
</head>

<body>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="three.min.js"></script>
<script src="http://threejs.org/examples/js/loaders/OBJLoader.js"></script>
<script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="three.helper.js"></script>
<script src="xml.parser.js"></script>

<script>


  var server = io.connect('http://192.168.0.100:8080');

  initThree();

  loadPixelsFromXML('serverConf.xml', function(pixels){

    animate();
    render();

    i = -1;
    changeColor = function(){
      
      i = (i+1)%pixels.length;
      object = pixels[i]
      changePixelColor(object,Math.random()*255,Math.random()*255,Math.random()*255);
    }

    function runner() {
        changeColor();
        render();
        setTimeout(function() {
            runner();
        }, 200);
    }

    runner();
    
  });


  // document.body.style.backgroundColor= 'rgb(128,128,128)';
  
  // server.on('frame', function(what){
  //  var bufView = new Uint8Array(what);
  //  var R = bufView[0];
  //  var G = bufView[1];
  //  var B = bufView[2];

  //   document.body.style.backgroundColor= 'rgb(' + R + ',' + G + ',' + B + ')';
  //  console.log(bufView);
  // });

  // function f(){
  //  server.emit("sendFrame", "");
  // }

</script>

</html>