<!DOCTYPE html>
<html>

<head>
<title>Sendero Stream Client</title>
<meta name="mobile-web-app-capable" content="yes">
<style type="text/css">
body{
  margin: 0px;
  overflow: hidden;
}
</style>
</head>

<body>
<div id="container"></div>
</body>

<script src="/socket.io/socket.io.js"></script>
<!--script src="three.min.js"></script-->
<script src="three.js"></script>
<script src="OBJLoader.js"></script>
<script src="orbitControls.js"></script>
<script src="three.helper.js"></script>
<script src="xml.parser.js"></script>

<script>


  var server = io.connect('http://alarrosa14.ddns.net:8080');

  initThree();

  loadPixelsFromXML('serverConf.xml', function(pixels){

    animate();
    render();

    server.on('frame', function(what){
      var bufView = new Uint8Array(what);
      
      for (var i = 0; i < 3*90; i =  i + 3) {
        var R = bufView[i];
        var G = bufView[i+1];
        var B = bufView[i+2]; 

        changePixelColor(pixels[i/3], R, G, B);
      }

      render();
    });
    
  });

/*
  document.body.style.backgroundColor= 'rgb(128,128,128)';
  
  server.on('frame', function(what){
   var bufView = new Uint8Array(what);
   var R = bufView[0];
   var G = bufView[1];
   var B = bufView[2];

    document.body.style.backgroundColor= 'rgb(' + R + ',' + G + ',' + B + ')';
   console.log(bufView);
  });

  function f(){
   server.emit("sendFrame", "");
  }
*/
</script>

</html>