<!DOCTYPE html>
<html>

<head>
<title>Sendero Stream Client</title>

<style type="text/css">
body{
  margin: 0px;
  overflow: hidden;
}
</style>
</head>

<body>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="underscore-min.js"></script>
<script src="three.min.js"></script>
<script src="http://threejs.org/examples/js/loaders/OBJLoader.js"></script>
<script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="three.helper.js"></script>
<script src="xml.parser.js"></script>

<script>


  var server = io.connect('localhost:8080');

  initThree();

  loadPixelsFromXML('serverConf.xml', function(pixels){

    animate();
    render();

    server.on('frame', function(what){
      var bufView = new Uint8Array(what);
      
      for (var i = 0; i <= 3*90; i =  i + 3) {
        var R = bufView[i];
        var G = bufView[i+1];
        var B = bufView[i+2]; 

        changePixelColor(pixels[i/3], R, G, B);
      }

      render();
    });
    
  });

</script>

</html>